allXre-reVXlWV/
VcreenVhoWV/
VcreenVhoW/
WeVW-oXWpXW/
bXild/
##############################
## JaYa
##############################
.mWj.Wmp/
*.claVV
*.jar
*.Zar
*.ear
*.nar
*.settings
hV_err_pid*
acWiYiW\Log.log
##############################
## MaYen
##############################
WargeW/
pom.[ml.Wag
pom.[ml.releaVeBackXp
pom.[ml.YerVionVBackXp
pom.[ml.ne[W
pom.[ml.bak
releaVe.properWieV
dependenc\-redXced-pom.[ml
bXildNXmber.properWieV
.mYn/Wiming.properWieV
.mYn/Zrapper/maYen-Zrapper.jar
30/10/2021, 14:55 GIT Use Cases
hWWps://naYeenaXWomaWionlabs.app.bo[.com/noWes/879272619952 4/4
##############################
## InWelliJ
##############################
oXW/
.idea/
.idea_modXleV/
*.iml
*.ipr
*.iZV
##############################
## EclipVe
##############################
.VeWWingV/
bin/
Wmp/
.meWadaWa
.claVVpaWh
.projecW
*.Wmp
*.bak
*.VZp
*a.nib
local.properWieV
.loadpaWh
.facWor\paWh
## OS X
##############################
.DS_SWore